
<div class="example-wrapper">
<ul class="list-unstyled smaller">
  {% for horaire in horaires %}
    <li>
      <span class="fw-bold">{{ horaire.jour }} :</span> {% if horaire.fermetureMatin %}
        Fermé
      {% else %}
        {{ horaire.debutMatin }} - {{ horaire.finMatin }}
      {% endif %}- {% if horaire.fermetureApresmidi %}
        Fermé
      {% else %}
        {{ horaire.debutApresmidi }} - {{ horaire.finApresmidi }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
</div>

